<div class="container-md">
    <div class="col-6 pt-2 pb-0 m-0 ">
        <h2 class="h2 text-success"> Packages Activated List </h2>
        <h3 class="h3 "> Account {{accNo}} </h3>
    </div>
    <div class="d-flex flex-row-reverse my-0 py-3 pr-2">
        <button type="button" (click)="onCreate()" mat-raised-button class="btn btn-success">
            <mat-icon>add</mat-icon> New Package
        </button>
    </div>
    <div class="w-100 px-3">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8, table table-striped table-hover">

            <ng-container matColumnDef="refNo">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Reference Number </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.refNo}} </td>
            </ng-container>

            <ng-container matColumnDef="pkgName">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Package Name </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.packageName}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Description </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="charge">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Charge </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.charge}} </td>
            </ng-container>

            <ng-container matColumnDef="tax">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Tax </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.tax}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Status; </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.active? 'Active':'Inactive'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="activatedOn">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Activated On; </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.activatedOn | date: 'short'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="deactivatedOn">
                <th mat-header-cell *matHeaderCellDef class="align-middle"> Deactivated On; </th>
                <td mat-cell *matCellDef="let element" class="align-middle"> {{element.deactivatedOn | date: 'short'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-middle"> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button [disabled]="!element.active" class="btn btn-danger btn-sm mt-2"
                        (click)="onDeactivate(element.refNo)">
                        Deactivate
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row class="bg-primary" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="font-italic d-flex justify-content-center" *ngIf="isLoadingResults">
            Loading data...
        </div>
    </div>
</div>